<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context.xsd
               http://www.springframework.org/schema/task
               http://www.springframework.org/schema/task/spring-task.xsd
               http://www.springframework.org/schema/mvc
       		   http://www.springframework.org/schema/mvc/spring-mvc.xsd
               http://www.springframework.org/schema/tx
               http://www.springframework.org/schema/tx/spring-tx.xsd">


    <!--1. 开启注解模式-->
    <context:component-scan base-package="com.byteDance"></context:component-scan>
    <mvc:annotation-driven>
        <!--2. 解决响应乱码问题-->
        <mvc:message-converters>
            <bean class = "org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <!--json序列化输出配置-->
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!--3. 排除静态资源-->
    <mvc:default-servlet-handler></mvc:default-servlet-handler>


    <!--mybatis和spring整合配置-->
    <bean id="dataSource" class = "com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
        <property name="url" value = "jdbc:mysql://localhost:3306/bytedance_news?
        characterEncoding=UTF-8&amp;serverTimezone=Asia/Shanghai
        &amp;allowPublicKeyRetrieval=true&amp;useSSL=false"></property>
        <property name="username" value=""></property>
        <property name="password" value=""></property>
        <property name="initialSize" value = "5"></property>
        <property name="maxActive" value="20"></property>
    </bean>

    <!--自动实例化sqlSessionFactory对象,结合mybatis plus-->
    <bean id = "sessionFactory" class = "com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <!--sql语句映射地址-->
        <property name="mapperLocations" value="classpath:mappers/*.xml"></property>
        <!--指定mybatis配置文件所在地址-->
        <property name="configLocation" value = "classpath:mybatis-config.xml"></property>
    </bean>
    <!--配置mapper扫描器，用于扫描接口-->
    <bean class = "org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value = "com.byteDance.newsProject.mapper"></property>
    </bean>

    <!--声明式事务配置并启用注解模式-->
    <bean id = "transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>


</beans>